- @page_title = "UserAuth | Signup"
.sign_form
 %h1 Sign Up
 = form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f|
  %p Username:
  %br/
  = f.text_field :username
  %p Password:
  %br/
  = f.password_field :password
  %p Password Confirmation:
  %br/
  = f.password_field :password
  %br/
  = f.submit
  
 - if @user.errors.any?
  %ul.signup_errors
   - @user.errors.full_messages.each do |msg|
    %li= msg
